@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

.text-dark {
  color: $text-color-dark !important;
}

.font-bold {
  font-family: $title-font;
}

.font-medium {
  font-family: $medium-font;
}

.font-regular {
  font-family: $regular-font;
}

.font-normal {
  font-family: $body-font;
}

.font-tertiary {
  font-family: $aurore-font;
}

.fs-7 {
  font-size: 0.875rem !important; // 14px
}

.fs-8 {
  font-size: 0.75rem !important; // 12px
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1500px,
);

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * 0.875,
  8: $font-size-base * 0.75,
);

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Merge the maps
$utilities: map-merge(
  $utilities,
  (
    // Make an existing utility responsive
    'font-size': map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
    'border': map-merge(
        map-get($utilities, 'border'),
        (
          responsive: true,
        )
      ),
    // Add new utilities
    'cursor': (
        property: cursor,
        class: cursor,
        responsive: true,
        values: auto pointer grab,
      ),

    'flex-basis': (
      property: flex-basis,
      class: flex-basis,
      responsive: true,
      values: (
        auto: auto,
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
      ),
    )
  )
);

@import 'bootstrap/scss/utilities/api';
